<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{styles/style.css}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round"/>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="../scripts/scriptExecute.js"></script>

</head>
<body th:class="mainDiv">
<div style="height: 100%" align="middle">
    <div class="card" align="middle">
        <h1 style="margin-top: 30px" th:text="${script.name}"></h1>
        <p style="margin-top: 10px" th:text="${script.description}"></p>


        <div id="palaceHolder" style="margin-top: 40px">
            <p style="text-align: left; margin-left: 220px">Input params</p>
            <div id="allInputsParams">
                <th:block style="width: 100%" id="parent" th:each="item : ${script.inputParams}">
                    <div class="row">
                        <p style="text-align: right" class="block" th:text="${item.paramName}"></p>
                        <p style="width: 40px" class="block"> = </p>
                        <input style="width: 100px" class="block enterTextDown">
                        <p style="margin-left: 10px; text-align: left" class="block" th:text="${item.unit}"></p>
                    </div>
                </th:block>
            </div>
            <button style="margin-top: 30px" class="btn-grad" onclick="btnCalculate()">calculate</button>
        </div>


    </div>


</div>

</body>
</html>


